* {
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-conteiner {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .header-container__my-photo-container {
    margin-right: 10px;
  }

  .header-container__names-title {
    margin-left: 10px;
   }

  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me__title {
    margin-bottom: 10px;
  }