* {
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }
  
  .main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .lab1 {
    display: flex;
    flex-direction: column;
  }

  .lab1__lab-titel {
    padding-inline: 10px;
    margin-bottom: 20px;
  }
  
  .lab1__ref-container {
    display: flex;
    flex-direction: column;
  }

  .lab1__ref {
    padding-inline: 10px;
    margin-bottom: 10px;
  }